---
---

.body-post {
  .wrapper {
    display: block;
  }

  footer {
    max-width: 1766px;
    margin: 0 auto;
    padding: 5rem 0 2.5rem;
  }
}

.post {
  position: relative;
  padding: 80px 40px 40px;
  display: flex;
  flex-flow: column;
  gap: 40px;

  .title {
    color: var(--white);

    h1 {
      font-family: "Idlewild", sans-serif;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 900;
      margin: 0;
    }
  }

  .description {
    p {
      font-size: 1.25rem;
      line-height: 2rem;
      font-weight: 400;
      margin: 0 0 1rem;
    }
  }

  .meta {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .meta-info {
      &-head {
        opacity: 0.65;
        font-size: 0.9rem;
        font-weight: 300;
        margin-bottom: 5px;
      }

      &-body {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }

  .image {
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }
}

/*
.body-blackvelvet-shop {
    background: #f4f0f0;
    color: #000;
}

.body-kollegiumi-studio {
    background: #322c46;
    color: #fff;
}

.body-bf3-reality-mod {
    background: #272017;
    color: #fff;
}

.body-bf3-battle-royale-website {
    background: #222327;
    color: #fff;
}

.body-mapeditor {
    background: #222222;
    color: #fff;
}

.body-bf3-battle-royale {
    background: #36281f;
    color: #fff;
}

.body-rababrill-optika {
    background-color: #ffffff;
    color: #2b65eb;
}

.body-szengine {
    background-color: #ffffff;
    color: #dd0f0f;
}

.body-netflex {
    background-color: #061010;
    color: #fff;
}

.body-buspass {
    background-color: #fff;
    color: #fec30d;
}
*/

@media only screen and (max-width: 1024px) {
  .post {
    padding: 30px;

    .title {
      span {
        margin: 0 0 1rem;
      }

      h1 {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }

    .meta {
        grid-template-columns: repeat(2, 1fr);
    }

    .description {
      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}
