<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
    <script type="module" src="./assets/js/app.js?v={{site.version}}"></script>
  </body>
</html>
