---
layout: default
---

{% assign content_array = page.content | split: site.excerpt_separator %}
{% assign excerpt_only = content_array | first %}
{% assign content_remainder = content_array | last %}

<nav>
  <a href="/" class="title"><h1 class="title">Kálóczi Kevin</h1></a>
  <p>Currently employed at "Different Fejlesztő Kft." and have over 5 years of industry experience. My expertise lies in frontend development, design, and interactive solutions.</p>
  <div class="socials">
    <a href="https://github.com/kaloczikvn/" target="_blank" title="Github">
      <i class="lab la-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/kaloczi-kvn/" target="_blank" title="LinkedIn">
      <i class="lab la-linkedin"></i>
    </a>
  </div>
  <div class="cv">
    <a href="mailto:kaloczi.kvn@gmail.com" target="_blank" class="contact">
      Get in touch
    </a>
  </div>
  <footer>
    <p class="copyright">© <script>document.write(Date().split` `[3])</script>, kvn.hu</p>
  </footer>
</nav>
<section class="post">
  <div class="title">
    <h1>{{ page.title | escape }}</h1>
  </div>
  <div class="meta">
    <div class="meta-info">
      <div class="meta-info-head">
        Year
      </div>
      <div class="meta-info-body">
        {{ page.made_in }}
      </div>
    </div>
    <div class="meta-info">
      <div class="meta-info-head">
        With
      </div>
      <div class="meta-info-body">
        {{ page.made_with }}
      </div>
    </div>
  </div>
  <div class="description">
    {{ content_remainder | remove_first: '</p>' }}
  </div>
  <div class="image">
    <img src="{{ page.image }}" alt="">
  </div>
</section>
